		 	     
.glossy-buttonVD {
    -fx-background-color: 
        linear-gradient(to bottom, #1E3A5F, #0F2747); 
    -fx-background-radius: 40px; 
    -fx-border-radius: 100%; 
    -fx-border-color: transparent; 
    -fx-border-width: 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 2);
    -fx-text-fill: linear-gradient(to bottom, #d7d6d4, #a19b9b); 
    -fx-font-family: "Arial Black", sans-serif;
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1); 
    -fx-padding: 10px 20px; 
    -fx-cursor: hand;
    
}

.glossy-buttonVD:hover {
    -fx-background-color: linear-gradient(to bottom, #0F2747, #1A3455); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3); 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b); 
}

.glossy-buttonVD:pressed {
    -fx-background-color: linear-gradient(to top, #1E3A5F, #0F2747); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1);
    -fx-translate-y: 2px; 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b); 
}
  

  .anchor-paneVD {
      -fx-background-image: url("../../IMGs/background_img_VD.png");
      -fx-background-size: cover;
      -fx-background-position: center;
  }		 	     
		 	     

.popular-destinations {
	
    -fx-font-size: 45px; 
    -fx-font-weight: bold; 
    -fx-text-fill: white; 
    -fx-effect: dropshadow(gaussian, #1E3A5F, 10, 0.5, 2, 2); 
    -fx-text-alignment: center; 
}
 	     
		 	     
.anchor-paneHunzaValley {
    -fx-background-image: url("../../IMGs/HunzaValley.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneSwatValley {
    -fx-background-image: url("../../IMGs/SwatValley.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneWadiShogran {
    -fx-background-image: url("../../IMGs/WadiShogran.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneSkardu {
    -fx-background-image: url("../../IMGs/Skardu.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneChitral {
    -fx-background-image: url("../../IMGs/Chitral.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	
.anchor-paneFairyMeadows {
    -fx-background-image: url("../../IMGs/FairyMeadows.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}	
.text-block {
    -fx-background-color: rgba(30, 144, 255, 0.8); 
    -fx-text-fill: #f5f5dc; 
    -fx-padding: 20px; 
    -fx-border-radius: 15px; 
    -fx-background-radius: 15px; 
    -fx-font-family: "Georgia"; 
    -fx-font-size: 13px; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.anchor-paneHunzaValleyText {
	-fx-background-color: rgba(90, 70, 50, 0.8); 
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneSwatValleyText {
	 -fx-background-color: rgba(47, 79, 79, 0.8); 
    -fx-background-size: cover;
    -fx-background-position: center;
}	

.anchor-paneWadiShogranText {
    -fx-background-color: rgba(60, 100, 100, 0.8);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.anchor-paneSkarduText {
  -fx-background-color: rgba(70, 70, 180, 0.8);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.anchor-paneChitralText {
 -fx-background-color: rgba(184, 134, 11, 0.8);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.anchor-paneFairyMeadowsText {
-fx-background-color: rgba(50, 100, 50, 0.8);
    -fx-background-size: cover;
    -fx-background-position: center;
}
.title {
    -fx-background-color: transparent; 
    -fx-text-fill: #d4af37; 
    -fx-font-family: "Serif"; 
    -fx-font-size: 34px; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0, 2, 2); 
    -fx-padding: 10px;
    -fx-alignment: center;
}
.button-HunzaVD {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c);
    -fx-background-radius: 20; 
    -fx-background-image: url("../../IMGs/HunzaValley.png"); 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center;
    -fx-background-size: 100% 100%; 
    -fx-padding: 0 16 0 50;
    -fx-text-fill: #d7d6d4; 
    -fx-font-size: 30px; 
    -fx-font-weight: bold;
    -fx-alignment: center-left; 
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4); 
}

.button-HunzaVD:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6);
    -fx-translate-y: -2; 
}

.button-HunzaVD:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2); 
    -fx-translate-y: 2; 
}

.button-Shogran {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c);
    -fx-background-radius: 20;
    -fx-background-image: url("../../IMGs/WadiShogran.png"); 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center; 
    -fx-background-size: 100% 100%; 
    -fx-padding: 0 16 0 50; 
    -fx-text-fill: #d7d6d4;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4); 
}

.button-Shogran:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6); 
    -fx-translate-y: -2; 
}

.button-Shogran:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2); 
    -fx-translate-y: 2; 
}
.button-Swat {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c);
    -fx-background-radius: 20; 
    -fx-background-image: url("../../IMGs/SwatValley.png"); 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0 16 0 50; 
    -fx-text-fill: #d7d6d4; 
    -fx-font-size: 30px; 
    -fx-font-weight: bold; 
    -fx-alignment: center-left; 
    -fx-cursor: hand; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4);
}

.button-Swat:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6); 
    -fx-translate-y: -2; 
}

.button-Swat:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2);
    -fx-translate-y: 2; 
}
.button-Skardu {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c); 
    -fx-background-radius: 20; 
    -fx-background-image: url("../../IMGs/Skardu.png"); 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
    -fx-background-size: 100% 100%; 
    -fx-padding: 0 16 0 50; 
    -fx-text-fill: #d7d6d4; 
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4); 
}

.button-Skardu:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6);
    -fx-translate-y: -2; 
}

.button-Skardu:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2); 
    -fx-translate-y: 2; 
}
.button-Chitral {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c);
    -fx-background-radius: 20; 
    -fx-background-image: url("../../IMGs/Chitral.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center ; 
    -fx-background-size: 100% 100%; 
    -fx-padding: 0 16 0 50; 
    -fx-text-fill: #d7d6d4;  
      -fx-font-size: 30px; 
    -fx-font-weight: bold;
     -fx-alignment: center-left; 
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4); 
}

.button-Chitral:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6);
    -fx-translate-y: -2;
}

.button-Chitral:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2); 
    -fx-translate-y: 2; 
}	
.button-FairyMeadows {
 
    -fx-background-color: linear-gradient(to bottom right, #1c3b60, #284b7c); 
    -fx-background-radius: 20; 
    -fx-background-image: url("../../IMGs/FairyMeadows.png"); 
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center; 
    -fx-background-size: 100% 100%;
    -fx-padding: 0 16 0 50; 
    -fx-text-fill: #d7d6d4; 
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.0, 0, 4); 
}

.button-FairyMeadows:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 6);
    -fx-translate-y: -2; 
}

.button-FairyMeadows:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 2);
    -fx-translate-y: 2; 
}	
    