.anchor-paneVD {
    -fx-background-image: url("../../IMGs/viewitemsbackgorund2.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}		 	

.glossy-buttonVD {
    -fx-background-color: 
        linear-gradient(to bottom, #1E3A5F, #0F2747);
    -fx-background-radius: 40px; 
    -fx-border-radius: 100%; 
    -fx-border-color: transparent; 
    -fx-border-width: 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 2); 
    -fx-text-fill: linear-gradient(to bottom, #d7d6d4, #a19b9b); 
    -fx-font-family: "Arial Black", sans-serif; 
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1); 
    -fx-padding: 10px 20px; 
    -fx-cursor: hand;
    
}

.glossy-buttonVD:hover {
    -fx-background-color: linear-gradient(to bottom, #0F2747, #1A3455);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3); 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b); 
}

.glossy-buttonVD:pressed {
    -fx-background-color: linear-gradient(to top, #1E3A5F, #0F2747); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1);
    -fx-translate-y: 2px; 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b);
}


.itemlabel {
    -fx-background-color: white; 
    -fx-font-weight: bold;      
    -fx-font-family: "Arial";   
    -fx-font-size: 16px;         
    -fx-text-fill: black;        
    -fx-padding: 5px;           
    -fx-alignment: center;       
    -fx-border-color: black;     
    -fx-border-width: 1px;      
}

.itemlabel2 {
    -fx-background-color: white; 
    -fx-font-weight: bold;      
    -fx-font-family: "Arial";   
    -fx-font-size: 10px;         
    -fx-text-fill: black; 
    -fx-background-radius: 100%;  
    -fx-border-radius: 100%;      
    -fx-padding: 5px;           
    -fx-alignment: center;       
    -fx-border-color: black;     
    -fx-border-width: 1px;      
}

.grid-pane {
    -fx-background-color: #758cb3; 
    -fx-background-radius: 15px;
    -fx-border-color: #8080ff;    
    -fx-border-width: 2px;       
    -fx-border-radius: 15px;     
    -fx-padding: 10px;           
}


.glossy-buttonVD2 {
    -fx-background-color: 
        linear-gradient(to bottom,#2fce16,#24bc09);
    -fx-background-radius: 40px; 
    -fx-border-radius: 100%; 
    -fx-border-color: transparent; 
    -fx-border-width: 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 2); 
    -fx-text-fill: linear-gradient(to bottom, #d7d6d4, #a19b9b); 
    -fx-font-family: "Arial Black", sans-serif; 
    -fx-font-size: 20px; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1); 
    -fx-padding: 10px 20px; 
    -fx-cursor: hand;
    
}

.glossy-buttonVD2:hover {
    -fx-background-color: linear-gradient(to bottom, #2fce16, #24bc09);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3); 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b); 
}

.glossy-buttonVD2:pressed {
    -fx-background-color: linear-gradient(to top, #2fce16, #24bc09); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1);
    -fx-translate-y: 2px; 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b);
}

.glossy-buttonVD3 {
	-fx-background-image: url("../../IMGs/shoppingcart.png");
	-fx-background-size: cover;        
	-fx-background-position: center;   
	-fx-background-repeat: no-repeat;  
    -fx-background-color: 
        linear-gradient(to bottom, #1E3A5F, #0F2747);
    -fx-background-radius: 40px; 
    -fx-border-radius: 100%; 
    -fx-border-color: transparent; 
    -fx-border-width: 0; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 4, 0, 0, 2); 
    -fx-text-fill: linear-gradient(to bottom, #d7d6d4, #a19b9b); 
    -fx-font-family: "Arial Black", sans-serif; 
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1); 
    -fx-padding: 10px 20px; 
    -fx-cursor: hand;
	
}

.glossy-buttonVD3:hover {
    -fx-background-color: linear-gradient(to bottom, #0F2747, #1A3455);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3); 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b); 
}

.glossy-buttonVD3:pressed {
    -fx-background-color: linear-gradient(to top, #1E3A5F, #0F2747); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1);
    -fx-translate-y: 2px; 
    -fx-text-fill: linear-gradient(to bottom,#d7d6d4, #a19b9b);
}